.contact{
	// height: 100vh;
	.wrapper{
		background: rgba(60, 60, 60, 1);
		color: white;
		padding: 50px;
		h2{
			text-align: center;
			margin: 0;
		}
		p{
			text-align: center;
		}
		ul{
			list-style-type: none;
			width: 75%;
			margin: 0 auto;
			padding: 50px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
    	justify-content: space-around;
			li{
				// width: 33.3%;
				// float: left;
				text-align: center;
				padding: 20px;
				h5{
					margin: 0;
				}
				p{
					margin: 0;
					color: #CFCFCF;
				}
			}
			li:nth-child(2){
				border-right: 1px solid #CFCFCF;
				border-left:  1px solid #CFCFCF;
			}
		}
	}
}

@media (max-width: 580px){
	.contact .wrapper h2 {
		font-size: 6rem;
	}	
}