header{
	width: 100%;
}
nav{
	position: relative;
	background: white;
	width: 100%;
	// padding: 25px 0;
	text-transform: uppercase;
	.logo{
		float:left;
		font-size: 1.2rem;
		width: 35%;
		padding: 15px 30px;
		display: block;

	}
	ul.menu {
		width: 50%;
		float:right;
		margin: 0;
		padding: 0;
		li {
			// display: inline;
			border: 2px solid rgba(255, 145, 115, 1);
			width: 20%;
			float: left;
  		margin: 1%;
			list-style-type: none;
			a {
				width: 100%;
				display: block;
				text-align: center;
				padding: 10px;
				color: rgba(58, 58, 58, 1);
				float: left;
				transition: all .5s;
			}
			a:hover{
				background: rgba(255, 145, 115, .7);
				color: white;
			}
		}
	}
}	